.auth {
    margin: 220px auto 0 auto;
    width: 400px;
    gap: 30px;
}

.auth button {
    margin-top: 10px;
    height: 48px;
}

.oauth2 {
    margin: 0 auto;
    gap: 10px;
}

.oauth2 a {
    color: var(--blue-2) !important;
    border: 2px solid var(--blue-2);
    text-align: center;
    border-radius: 50%;
    line-height: 42px;
    height: 40px;
    width: 40px;
}