@import "unit/popup.css";

:root {
    /* main colors */
    --grey: #444;
    --blue-0: #72F7FF;
    --blue-1: #3DA8AE;
    --blue-2: #314069;
    --blue-3: #192b5c;
    --blue-4: #0A142F;

    /* trade colors */
    --buy: #4f8d15;
    --sell: #b71d1d;
    --grant: #9b209b;
    --options: #1d8e94;
    --taxes: #c2790f;
    --other: #666666;

    /* borders */
    --panel-radius: 20px;
    --small-border: 1px solid #ccc;
    --shadow-0: 0px 1px 4px 1px rgba(0, 0, 0, 0.10);
    --shadow-1: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);

    /* sizes */
    --header-height: 60px;
    --footer-height: 180px;

    /* fonts */
    --header-font: 14px;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: white;
    font-size: 1.6rem;
    min-height: 100%;
    overflow-x: hidden;
}

* {
    font-family: 'ABeeZee', sans-serif !important;
    color: var(--blue-4);
    border: none;
    margin: 0;
    padding: 0;
}

button,
li {
    cursor: pointer;
}

ul {
    list-style: none;
}

h1 {
    color: var(--blue-4);
}

article h2 {
    margin: 30px 0;
    font-size: 26px;
}

article p {
    margin-bottom: 15px;
    color: #aaa;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

/**
    =================================
               COMPONENTS
    =================================
*/

.row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center {
    display: flex;
    position: absolute;
    width: fit-content;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

.content-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: calc(60% + 300px);
    margin: 120px auto 50px auto;
    gap: 30px;
}

.link {
    cursor: pointer;
    text-decoration: underline;
    color: var(--blue-1);
}

@media screen and (max-width: 1200px) {
    .content-wrapper {
        width: auto;
        margin: 100px 6% 50px 6%;
    }
}

/**
    =================================
                 HEADER
    =================================
*/

default-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    box-shadow: var(--shadow-1);
    background-color: var(--blue-4);
    width: 100%;
    z-index: 99;
}

default-header > div {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 25px;
}

default-header h2 {
    color: var(--blue-2);
    cursor: pointer;
    margin-right: auto;
    font-size: 32px;
    padding-left: 30px;
    white-space: nowrap;
}

/* navigation menu */
.header-menu {
    display: flex;
    overflow: hidden;
    background-color: var(--blue-2);
    flex-direction: column;
    transition: max-height .2s ease-out;
    max-height: 0;
}

.header-menu p {
    padding: 20px 20px;
}

.nav-links p {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-links p::after {
    content: "";
    display: block;
    margin: auto;
    background: white;
    transition: all 0.3s;
    height: 3px;
    width: 0;
    top: 5px;
}

.nav-links p:hover::after {
    width: 100%;
}

.nav-btn {
    background-color: inherit;
    transition: background-color .2s ease-out;
    height: var(--header-height);
    width: 60px;
}

.nav-btn:hover {
    background-color: var(--blue-3);
}

.nav-icon {
    margin: auto;
    display: block;
    cursor: pointer;
    position: relative;
    background: white;
    transition: all .2s ease-out;
    width: 18px;
    height: 2px;
}

.nav-icon:before,
.nav-icon:after {
    content: '';
    display: block;
    position: absolute;
    background: white;
    transition: all .2s ease-out;
    width: 100%;
    height: 100%;
}

.nav-icon:before {
    top: 5px;
}

.nav-icon:after {
    top: -5px;
}

/* menu btn */
.nav-box {
    display: none;
}

.nav-box:checked ~ label .nav-icon {
    background: transparent;
}

.nav-box:checked ~ label .nav-icon:before {
    transform: rotate(-45deg);
}

.nav-box:checked ~ label .nav-icon:after {
    transform: rotate(45deg);
}

.nav-box:checked ~ label:not(.steps) .nav-icon:before,
.nav-box:checked ~ label:not(.steps) .nav-icon:after {
    top: 0;
}

/* search bar */
.search {
    display: block;
    position: relative;
    font-size: var(--header-font);
    flex-grow: 1;
}

.search input {
    border-radius: 20px;
    padding: 11px 20px 11px 50px;
    font-size: var(--header-font);
    width: calc(100% - 50px);
}

.search > img {
    margin-left: 20px;
    width: 16px;
    height: 16px;
}

.search input:focus {
    outline: none;
}

.search input::placeholder {
    color: #ccc;
    opacity: 1;
}

/* autocomplete */
.autocomplete {
    position: absolute;
    overflow: hidden;
    font-size: var(--header-font);
    box-shadow: var(--shadow-1);
    width: calc(100% + 20px);
    border-radius: 20px;
    margin-top: 5px;
    z-index: 99;
    right: 0;
    left: 0;
}

.autocomplete p {
    display: block;
    width: 100%;
    padding: 15px 30px;
    background-color: white;
    color: var(--blue-4);
    cursor: pointer;
}

.autocomplete p:hover {
    background-color: #eee;
}

.autocomplete-active {
    background-color: var(--blue-2) !important;
}

.autocomplete-active, .autocomplete-active > * {
    color: white !important;
}

@media (min-width: 1200px) {
    default-header {
        flex-direction: row;
    }

    default-header > div {
        width: 50%;
    }

    .header-menu {
        flex-direction: row;
        background-color: inherit;
        max-height: none !important;
        margin-left: 30px;
        width: 50%;
    }

    .search {
        flex-grow: 0;
        width: 360px;
    }

    .nav-btn {
        display: none;
    }
}

/**
    =================================
                 FOOTER
    =================================
*/

default-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: white;
    background: var(--blue-4);
    min-height: var(--footer-height);
    z-index: 99;
    gap: 25px;
}

default-footer a, .fa {
    text-decoration: none;
    font-family: "FontAwesome", serif !important;
    color: white !important;
}

default-footer ul {
    display: flex;
    gap: 30px;
}

.social {
    display: flex;
    gap: 30px;
}

.copyright {
    opacity: 0.6;
    color: white;
}

.fa {
    font-size: 25px;
}