main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 220px auto 100px auto;
    padding: 0 60px;
    max-width: 1200px;
}

main article {
    width: calc(20% + 240px);
}

main h1 {
    margin-bottom: 30px;
    font-size: 38px;
}

main h3 {
    font-size: 22px;
    font-weight: normal;
}

main button {
    padding: 20px 35px;
    font-size: 18px;
    margin-top: 60px;
}
