### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar

### NetBeans ###
nbproject/private/
.nb-gradle/
nbbuild/
nbdist/
dist/

### STS ###
.apt_generated
.springBeans
.factorypath
.sts4-cache
.classpath
.settings
.project
bin/

### IDE ###
.idea
*.iws
*.iml
*.ipr
.vscode/
out/

### CDK ###
.cdk.staging
cdk.out
.aws/

### Other ###
*.properties
*.yml
build/
