# Distribution / packaging
build/

### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar

### IDE ###
.vscode/
target/
.idea/
out/
*.iws
*.iml
*.ipr

### CDK-specific ###
.cdk.staging/
cdk.out/
.aws/
*.swp

### Credentials ###
*.properties
*.yml