<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=ABeeZee'>
    <link rel="stylesheet" href="/styles/global.css">
    <script type="module" src="/scripts/ui/elements.js"></script>
    <title th:text="${status} + ' | FollowInsider'">Title</title>
</head>

<body>
<default-header></default-header>

<div class="content">
    <article>
        <h2>
            [<span th:text="${status}">Status</span>]
            <span th:text="${error}">Error</span>
        </h2>
        <p th:text="${message}">Message</p>
    </article>
</div>

<default-footer></default-footer>
</body>

</html>