<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=ABeeZee'>
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/table.css">
    <link rel="stylesheet" href="../static/styles/stock.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="../static/scripts/elements.js"></script>
    <script type="module" src="../static/scripts/stock.js"></script>
    <title>FI - Intel Corporation (INTC)</title>
</head>

<body>

    <default-header></default-header>

    <div class="body">

        <!-- side panel with company information -->
        <div class="s-panel">

            <!-- arrow button to toggle the side panel -->
            <img id="panel-arrow" onclick="togglePanel()" src="../static/images/arrow-left.png" alt="Arrow Left"
                class="link"></p>

            <!-- company information -->
            <div class="s-info">
                <div class="s-row1">
                    <div class="s-logo">
                        <img src="../static/images/stocks/intel.png" alt="Stock Image"></img>
                    </div>
                    <div class="col s-row1-txt">
                        <h3 id="s-name"></h3>
                        <p id="last-active"></p>
                    </div>
                </div>

                <div class="col rating">
                    <div>
                        <h3>Efficiency</h3>
                        <div id="efficiency-score" class="score"></div>
                    </div>

                    <div>
                        <h3>Liquidity</h3>
                        <div id="liquidity-score" class="score"></div>
                    </div>
                </div>

                <div>
                    <h2>Description</h2>
                    <p id="s-desc"></p>
                </div>
            </div>
        </div>

        <div class="main">

            <!-- tab navigation -->
            <div id="tabs">
                <a onclick="loadTab(0)">Insider Trading</a>
                <a onclick="loadTab(1)">Insider Trading</a>
            </div>

            <!-- tab content -->
            <div id="tab-content"></div>

        </div>
    </div>

    <default-footer></default-footer>

</body>

</html>