.chart {
    width: 100%;
    min-height: 350px;
    position: relative;
}

time-ranges {
    display: flex;
    border: 1px solid #eee;
    padding: 10px 20px;
    margin: 10px 7.5% 0 7.5%;
    /*width: min-content;*/
    font-size: 12px;
    gap: 15px;
}

time-ranges input {
    display: none;
}

input[type=checkbox]:checked + label {
    color: var(--blue-1);
    font-weight: bold;
}