@import "dashboard.css";
@import "rating.css";
@import "chart.css";
@import "table.css";

/* define variables */
:root {
    --p-width: 420px;
    --p-delay: .5s;
    --p-effect: ease;
}

/* section components */
.body {
    display: flex;
    margin-top: var(--header-height);
}

.main {
    padding: 60px calc(20px + 3%);
    margin-left: var(--p-width);
    transition: margin-left var(--p-delay) var(--p-effect);
    font-size: 16px;
    width: 100%;
}

/* navigation panel */
#tabs {
    display: flex;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
    white-space: nowrap;
    gap: 60px;
}

#tabs a {
    cursor: pointer;
    font-size: 18px;
    line-height: 45px;
}

.chosen {
    font-weight: bold;
    color: var(--blue-1) !important;
}

.chosen:after {
    content: '';
    display: block;
    height: 5px;
    border-radius: 5px;
    background-color: var(--blue-1);
}

/* side panel */
.s-panel {
    position: fixed;
    background-color: white;
    overflow: hidden;
    transition: width var(--p-delay) var(--p-effect);
    box-shadow: var(--shadow-0);
    width: var(--p-width);
    height: 100%;
}

.s-panel .link {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 30px;
    top: 30px;
}

/* company information */
.s-info {
    display: flex;
    flex-direction: column;
    transition: visibility var(--p-delay) var(--p-effect),
    opacity var(--p-delay) var(--p-effect);
    padding: 70px 40px;
    width: calc(var(--p-width) - 80px);
    gap: 60px;
}

.s-row1 {
    display: flex;
    align-items: center;
}

.s-row1-txt {
    margin-left: 30px;
    gap: 10px;
}

/* company logo */
.s-logo {
    border-radius: 15px;
    box-shadow: var(--shadow-0);
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-logo img {
    width: 90px;
}

@media screen and (max-width: 1200px) {
    .body {
        flex-direction: column;
    }

    .s-panel {
        position: static;
        width: 100%;
    }

    .main {
        width: auto;
        margin-left: 0;
    }

    .s-info {
        width: auto;
        padding: 40px;
    }

    #panel-arrow {
        display: none;
    }
}