/* insider cell */
.insider {
    display: flex;
    flex-direction: column;
}

.insider-tail {
    color: #bbb;
    font-style: italic;
    cursor: pointer;
}

/* data filters */
.filters {
    display: flex;
    gap: 20px
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin: 0 20px 0 auto;
    gap: 25px
}

.checkboxes div {
    display: flex;
    align-items: center;
    gap: 8px
}

/* responsive table */
tr {
    grid-template-columns: 1fr repeat(3, 2fr) repeat(5, 1.5fr);
}

@media screen and (max-width: 1200px) {
    tr {
        grid-template-columns: 1fr 2.5fr 2fr repeat(5, 1.5fr);
    }

    .no-1200 {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    tr {
        grid-template-columns: repeat(6, 1fr);
    }

    .no-768 {
        display: none !important;
    }
}