/* define variables */
:root {
    --panel-width: 420px;
}

/* table configuration */
.trade-row {
    grid-template-columns: 1fr repeat(3, 2fr) repeat(5, 1.5fr);
}

.insider {
    display: flex;
    flex-direction: column;
}

.insider-tail {
    color: #bbb;
    font-style: italic;
    cursor: pointer;
}

/* section components */
.body {
    display: flex;
    margin-top: var(--header-height);
}

.main {
    width: 100%;
    padding: 60px 80px;
    font-size: 16px;
    margin-left: var(--panel-width);
}

/* navigation panel */
.tabs {
    display: flex;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    gap: 40px;
}

.tabs a {
    cursor: pointer;
    font-size: 18px;
    line-height: 45px;
}

.chosen {
    font-weight: bold;
    color: var(--blue-1);
}

.chosen:after {
    content: '';
    display: block;
    height: 5px;
    border-radius: 5px;
    /* margin-top: 10px; */
    background-color: var(--blue-1);
}

/* side panel */
.c-panel {
    position: fixed;
    background-color: white;
    box-shadow: var(--shadow-0);
    width: var(--panel-width);
    height: 100%;
}

.c-panel .link {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 30px;
    top: 30px;
}

/* company information */
.c-info {
    display: flex;
    flex-direction: column;
    padding: 70px 40px;
    gap: 60px;
}

.c-info h3 {
    font-size: 16px;
}

.c-info h2 {
    font-size: 18px;
    line-height: 24px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    width: min-content;
}

.c-info p {
    font-size: 14px;
}

.c-row1 {
    display: flex;
    align-items: center;
}

.c-row1-txt {
    margin-left: 30px;
    gap: 10px;
}

.c-logo {
    border-radius: 15px;
    box-shadow: var(--shadow-0);
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-logo img {
    width: 90px;
}

/* company rating */
.rating {
    gap: 5px;
}

.rating>div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
}

.score {
    display: flex;
    margin-left: auto;
    gap: 5px;
}

.score>* {
    height: 12px;
    width: 12px;
}